body{
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);
    background-image:url('bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
}
.left-card{
    background-color: hsl(228, 56%, 26%);
    border-radius: 12px;
    border-top-right-radius: 80px;
    min-height: 200px;
}
.right-card{
    background-color: hsl(228, 56%, 26%);
    border-radius: 12px;
    min-height: 160px;

}
.icon-btn{
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.progress{
    height: 20px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 20px;
    padding: 3px;
}
.progress-bar{
    background: linear-gradient( to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 20px;
}
.storage-badge{
  background-color: white;
  color: hsl(229, 57%, 11%);
padding:15px 25px;
border-radius: 10px;
display: flex;
align-items: center;
gap: 8px;


right: 30px;
top: -40px;
}
.storage-badge strong{
    font-size: 2rem;
}
.storage-badge span{
    font-size: 0.75rem;
    font-weight: 700;
    color: hsl(229, 7%, 55%);
}